/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Standard variables */

:root {
    /* Colors */
    --body-background-color: rgba(255, 255, 255, 1.0);
    --code-background-color: rgba(247, 247, 247, 1.0);
    --body-color: rgba(0, 0, 0, 0.95);
    --line-color: rgba(0, 0, 0, 0.05);
    --link-color: rgba(15, 63, 127, 0.8);
    /* Fonts */
    --body-font-family: sans-serif;
    --body-line-height: 1.5em;
    --code-font-family: monospace;
    --heading-font-family: sans-serif;
    /* Sizes */
    --page-width: 1100px;
}

/* Standard CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul {
    margin: 1em 0;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child,
blockquote:first-child, p:first-child, pre:first-child,
dl:first-child, ol:first-child, ul:first-child {
    margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child,
blockquote:last-child, p:last-child, pre:last-child,
dl:last-child, ol:last-child, ul:last-child {
    margin-bottom: 0;
}

h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child, h6:only-child,
blockquote:only-child, p:only-child, pre:only-child,
dl:only-child, ol:only-child, ul:only-child {
    margin-top: 0;
    margin-bottom: 0;
}

article, section {
    margin: 1.5em 0;
}

article:first-child, section:first-child {
    margin-top: 0;
}

article:last-child, section:last-child {
    margin-bottom: 0;
}

article:only-child, section:only-child {
    margin-top: 0;
    margin-bottom: 0;
}

/* Standard page structure */

html {
    height: 100%;
    overflow-y: scroll;
    scroll-padding-top: 6em;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(2em, 1fr) calc(var(--page-width) * 0.7) calc(var(--page-width) * 0.3) minmax(2em, 1fr);
    grid-template-areas:
        "header header header header"
        ". main sidebar ."
        "footer footer footer footer";
    height: 100%;
    color: var(--body-color);
    background-color: var(--body-background-color);
    font-family: var(--body-font-family);
    line-height: var(--body-line-height);
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: var(--body-background-color);
    padding: 1em 0;
    border-bottom: 1px solid var(--line-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header nav {
    width: var(--page-width);
}

main {
    grid-area: main;
    position: relative;
    top: 4em;
    padding: 2em 0;
}

aside {
    grid-area: sidebar;
    position: relative;
    top: 4em;
    padding: 2em 0;
    display: flex;
}

aside > div {
    align-self: start; /* Important for sticky positioning */
    position: sticky;
    top: 6em;
    margin: 0 0 0 2em;
    padding: 0 0 0 2em;
    border-left: 1px solid var(--line-color);
}

aside nav {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer {
    grid-area: footer;
    padding: 1em 0;
}

@media (max-width: 768px) {
    body {
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    }
}

/* Standard styles for prose elements */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a.selected {
    color: var(--body-color);
    font-weight: 500;
}

code, pre {
    font-family: var(--code-font-family);
    font-size: 0.9em;
    background-color: var(--code-background-color);
}

pre {
    padding: 1em;
}

/* Standard styles for lists */

ol, ul, dd {
    padding: 0 0 0 1em;
}

li, dt, dd {
    margin: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

li > ul, li > ol, dd > dl {
    margin: 0;
}

li > p:last-child, dd > p:last-child {
    margin-bottom: 1em;
}

li > p + ul {
    margin-bottom: 1em !important;
}

/* Standard styles for path navigation */

.path-nav > a:after {
    content: " \00a0\003e\00a0\00a0 ";
}

.path-nav > a:last-child:after {
    content: none;
}

/* Nothing Skupper-specific above here! */

:root {
    --heading-font-family: "Alegreya Sans", sans-serif;
    --body-font-family: "Lato", sans-serif;
    --code-font-family: "Roboto Mono", monospace;
}

/* Skupper-specific styles for the page structure */

header {
    border-bottom: 3px solid var(--line-color);
}

aside > div {
    border-left: 3px solid var(--line-color);
}

aside h4 {
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
}

/* Skupper-specific styles for prose elements */

/* Refdog-specific styles for prose eleemnts */

body.resource h2, body.command h2 {
    font-size: 1.3em;
}

body.resource h3, body.command h3 {
    font-family: var(--body-font-family);
    font-size: 1em;
}

body.resource span.property-info, body.command span.argument-info {
    font-weight: 400;
    font-style: italic;
}

body.resource main::after, body.command main::after {
    content: "";
    display: block;
    height: 100vh;
}
